@media (max-width: $screen-xs-max) {
    .signup-border {
        border-right: 1px solid #eee;
    }

    .signup-login-title {
        text-align: center;
    }

    .flexslider {
        border-top: none!important;
        border-right: none!important;
        border-bottom: 5px solid $brand-primary!important;
        border-left: none!important;
        border-shadow: none!important;
        margin-bottom: 30px!important;
        border-radius: 0!important;

        li {
            text-align: center;
            height: 630px;

            img {
                max-height: 630px;
                position: absolute;
                top: 0;
            }
        }
    }

    .flex-caption {
        position: relative;
        top: 300px;
        z-index: 1;

        h3 {
            color: #fff;
            border: 1px solid rgba(17, 17, 17, 0.4);
            background: rgba(0, 0, 0, 0.4);
            padding: 10px;
            width: 90%;
            margin: 0 auto 25px;
            font-weight: bold;
        }

        p {
            color: #fff;
            text-transform: uppercase;
        }

        .btn-slide {
            position: relative;
            top: 75px;
            color: #fff;
            font-size: 24px;
            padding: 20px 45px;
            background-color: $brand-primary;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            cursor: pointer;

            &:hover {
                text-decoration: none;
                background-color: darken($brand-primary, 5%);
            }
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { }

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { }

@media (min-width: $screen-lg-min) {
    .navbar {
        border-top: 5px solid $brand-primary;
    }

    .navbar-header {
        -webkit-transform: skew(-30deg, 0deg);
            -ms-transform: skew(-30deg, 0deg);
                transform: skew(-30deg, 0deg);
        background-color: $brand-primary;
        padding-right: 30px;
        padding-left: 30px;
    }

    .navbar-brand {
        display: inline-block;
        padding: 25px 15px;
        -webkit-transform: skew(30deg, 0deg);
            -ms-transform: skew(30deg, 0deg);
                transform: skew(30deg, 0deg);

        img {
            display: inline-block;
            width: 80px;
            margin-right: 10px;
        }
    }

    .signup-border {
        border-right: 1px solid #eee;
    }

    .flexslider {
        border-top: none!important;
        border-right: none!important;
        border-bottom: 5px solid $brand-primary!important;
        border-left: none!important;
        border-shadow: none!important;
        margin-bottom: 30px!important;
        border-radius: 0!important;

        li {
            text-align: center;
            height: 630px;

            img {
                max-height: 630px;
                position: absolute;
                top: 0;
            }
        }
    }

    .flex-caption {
        position: relative;
        top: 300px;
        z-index: 1;

        h3 {
            color: #fff;
            border: 1px solid rgba(17, 17, 17, 0.4);
            background: rgba(0, 0, 0, 0.4);
            padding: 10px;
            width: 700px;
            margin: 0 auto 25px;
            font-size: 96px;
            font-weight: bold;
        }

        p {
            color: #fff;
            font-size: 28px;
            text-transform: uppercase;
        }

        .btn-slide {
            position: relative;
            top: 75px;
            color: #fff;
            font-size: 24px;
            padding: 20px 45px;
            background-color: $brand-primary;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &:hover {
                text-decoration: none;
                background-color: darken($brand-primary, 5%);
            }
        }
    }

    .navigate-to {
        cursor: pointer;
    }
}
